.header{
    min-height: 10vw;
    max-height: 15vw;
    width: 100%;
    background-color: #281f43;
    color: #C0AAAA;


    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.headerLogo{
    padding-top: 15px;
    padding-left: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 12vw;
}

.headerMenu{
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.headerProfile{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 12vw;
}